.button {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    transition:  0.3s;
    background: none;
    margin-top: 15px;
    margin-left: -100px;
    color: rgba(255, 255, 255, 0.582);
    &:hover{
      color: white;
    }
}